@model FinanceApp.Models.dbKas

@{
    ViewData["Title"] = "Input Data Baru";
}
<style>
    input.largerCheckbox {
        width: 20px;
        height: 20px;
    }
</style>
<h1>Input Data Baru</h1>
<h3 class="display-5">Form Entry</h3>
<hr />
<form asp-action="Create" id="formcreate" enctype="multipart/form-data">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <label class="control-label">Debit / Credit:</label>
                    <br />
                    @Html.DropDownListFor(model => model.akuntype, new List<SelectListItem>
                    {
                    new SelectListItem{ Text="Debit", Value = "D" },
                    new SelectListItem{ Text="Kredit", Value = "K" },
                    })                    
                    <span asp-validation-for="akuntype" class="text-danger"></span>
                </div>
               
                <div class="form-group">
                    <label class="control-label">Tanggal Transaksi:</label>
                    <input type="date" asp-for="TransDate" class="form-control" />
                    <span asp-validation-for="TransDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Trans No:</label>
                    <input asp-for="Trans_no" class="form-control" readonly/>
                    <span asp-validation-for="Trans_no" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Description:</label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
              
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <label class="control-label">Akun Debit :</label>
                    <br />
                    @*<input asp-for="EDP_CODE" class="form-control" onkeypress="return allowOnlyNumber(event);" />*@
                    @Html.DropDownListFor(m => m.Akun_Debit, new SelectList(Model.dddbacc, "account_no", "account_name"), new { @class = "form-control" })
                    <span asp-validation-for="Akun_Debit" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Akun Kredit :</label>
                    <br />
                    @*<input asp-for="EDP_CODE" class="form-control" onkeypress="return allowOnlyNumber(event);" />*@
                    @Html.DropDownListFor(m => m.Akun_Credit, new SelectList(Model.dddbacc, "account_no", "account_name"), new { @class = "form-control" })
                    <span asp-validation-for="Akun_Credit" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Debit:</label>
                    <input asp-for="Debit" class="form-control" />
                    <span asp-validation-for="Debit" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Credit:</label>
                    <input asp-for="Credit" class="form-control" />
                    <span asp-validation-for="Credit" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Saldo:</label>
                    <input asp-for="Saldo" class="form-control" readonly />
                    <span asp-validation-for="Saldo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="button" value="Simpan data baru" onclick="alertfirst()" class="btn btn-red" />
                </div>
            </div>
        </div>
    </div>
</form>


<div>
    <a asp-action="Index" class="btn btn-dark">Kembali ke List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $("#Akun_Debit").select2({
                placeholder: "Pilih Akun",
                initSelection: function (element, callback) {
                },
                dropdownAutoWidth: true,
                width: 'auto'
            });
            $("#Akun_Debit").val(null);
            $("#Akun_Debit").trigger('change');
            $("#Akun_Credit").select2({
                placeholder: "Pilih Akun",
                initSelection: function (element, callback) {
                },
                dropdownAutoWidth: true,
                width: 'auto'
            });
            $("#Akun_Credit").val(null);
            $("#Akun_Credit").trigger('change');

            $('#Akun_Debit').prop('disabled', false);
            $('#Akun_Credit').prop('disabled', true);
            $('#Akun_Debit').val($('#Akun_Debit option:first').val()).trigger('change');
            $('#Credit').prop('readonly', true);

            $("#akuntype").select2({
                placeholder: "Pilih Tipe Akun",
                initSelection: function (element, callback) {
                },
                dropdownAutoWidth: true,
                width: 'auto'
            });
            $("#akuntype").on('change', function () {
                var akuntype = $("#akuntype").val();
                if(akuntype == "D"){
                    $('#Akun_Debit').prop('disabled', false);
                    $('#Akun_Credit').prop('disabled', true);
                    $('#Akun_Debit').val($('#Akun_Debit option:first').val()).trigger('change');
                    $("#Akun_Credit").val(null);
                    $("#Akun_Credit").trigger('change');
                    $('#Credit').prop('readonly', true);
                    $('#Debit').prop('readonly', false);

                } else{
                    $('#Akun_Credit').prop('disabled', false);
                    $('#Akun_Debit').prop('disabled', true);
                    $('#Akun_Credit').val($('#Akun_Credit option:first').val()).trigger('change');
                    $("#Akun_Debit").val(null);
                    $("#Akun_Debit").trigger('change');
                    $('#Credit').prop('readonly', false);
                    $('#Debit').prop('readonly', true);

                }
            });
          
        });

        function allowOnlyNumber(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }
        function alertfirst() {

            if (confirm("Are you sure saving data?")) {
                $('#formcreate').submit();
            } else {
                return false;
            }

        }
    </script>
}


