@model List<SystemTabModel>

<!-- REPLACED 'bg-white' WITH 'navbar-brand-theme' -->
<nav class="navbar navbar-expand-lg navbar-brand-theme shadow-sm mb-4">
    <div class="container">

        <a class="navbar-brand d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
            <!-- Ensure height is fixed so it doesn't break layout -->
            <img src="~/images/easytaxlandscapewb.png" alt="EasyTax" style="height: 40px; width: auto;" />
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarContent">
            <ul class="navbar-nav mr-auto ml-3">
                @if (User.Identity.IsAuthenticated)
                {
                    var pkg = ViewData["pkg"]?.ToString() ?? "";
                    @foreach (var fld in Model)
                    {
                        <li class="nav-item dropdown">
                            <!-- Link colors are now handled by CSS class .navbar-brand-theme -->
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">@fld.TAB_TXT</a>
                            <div class="dropdown-menu">
                                @foreach (var chld in fld.menuList)
                                {
                                    if (pkg == "Basic" && chld.MENU_TXT == "Manajemen user") continue;
                                    <a class="dropdown-item" href="@chld.MENU_LINK">@chld.MENU_TXT</a>
                                }
                            </div>
                        </li>
                    }
                }
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>